html {
  background-color: LightSlateGray;
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  background-color: Black;
  border-radius: 16px;
  color: Silver;
  margin: 8px auto;
  max-width: 70em;
  padding: 1em;
}

h1 {
  background-color: Gold;
  border-radius: 16px 16px 0 0;
  color: Black;
  padding: 0.5em;
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

a:link {
  background-color: RoyalBlue;
}

a:visited {
  background-color: Crimson;
}

a:active {
  background-color: Tomato;
}

/* examples of styles and colors */
.badge {
  background-color: DarkGray;
  border-radius: 8px;
  color: black;
  display: inline-block;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.5em;
  text-transform: uppercase;
}

.blue {
  background-color: RoyalBlue;
}

.green {
  background-color: MediumSeaGreen;
}

.cyan {
  background-color: LightBlue;
}

.red {
  background-color: Crimson;
}

.magenta {
  background-color: Orchid;
}

.yellow {
  background-color: Gold;
}

.white {
  background-color: Gainsboro;
}
